<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a (click)="formSelector('log')" [ngClass]="{'active':formTogel}" id="login-form-link">Login</a>
                        </div>
                        <div class="col-xs-6">
                            <a (click)="formSelector('reg')"  [ngClass]="{'active':!formTogel}" id="register-form-link">Register</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="login-form" [formGroup]="loginForm" *ngIf="formTogel">
                                <div class="form-group">
                                    <input type="text" formControlName="userName" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                                </div>
                                <div *ngIf="loginForm.get('userName').touched">
                                  <span [class.hidden]="!loginForm.controls['userName'].hasError('required')" class="help-block hidden" >UserName is required.</span>
                                </div>
                                <div class="form-group">
                                    <input type="password" formControlName="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
                                </div>
                                <div *ngIf="loginForm.get('password').touched">
                                  <span [class.hidden]="!loginForm.controls['password'].hasError('invalidPassword')" class="help-block hidden" >Invalied Password.</span>
                                </div>
                                <div *ngIf="loginForm.get('password').touched">
                                  <span [class.hidden]="!loginForm.controls['password'].hasError('required')" class="help-block hidden" >Password is required.</span>
                                </div>
                                <!--<div class="form-group text-center">
										<input type="checkbox" tabindex="3" class="" name="remember" id="remember">
										<label for="remember"> Remember Me</label>
									</div>-->
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input (click)="login()" type="button" name="login-submit" id="login-submit"  tabindex="4" class="form-control btn btn-login" value="Log In">
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="form-group">
										<div class="row">
											<div class="col-lg-12">
												<div class="text-center">
													<a href="http://phpoll.com/recover" tabindex="5" class="forgot-password">Forgot Password?</a>
												</div>
											</div>
										</div>
									</div>-->
                            </form>
                            <form id="register-form" [formGroup]="registrationForm" *ngIf="!formTogel" >
                                <div class="form-group">
                                    <input type="text" formControlName="userName" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                                </div>
                                <div *ngIf="registrationForm.get('userName').touched">
                                  <span [class.hidden]="!registrationForm.controls['userName'].hasError('required')" class="help-block hidden" >Name is required.</span>
                                </div>
                                <div class="form-group">
                                    <input type="email" formControlName="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="">
                                </div>
                                <div *ngIf="registrationForm.get('email').touched">
                                  <span [class.hidden]="!registrationForm.controls['email'].hasError('invalidEmail')" class="help-block hidden" >Email format error.</span>
                                </div>
                                <div *ngIf="registrationForm.get('email').touched">
                                  <span [class.hidden]="!registrationForm.controls['email'].hasError('required')" class="help-block hidden" >Email is required.</span>
                                </div>
                                <div class="form-group">
                                    <input type="password" formControlName="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
                                </div>
                                <div *ngIf="registrationForm.get('password').touched">
                                  <span [class.hidden]="!registrationForm.controls['password'].hasError('invalidPassword')" class="help-block hidden" >Invalied Password.</span>
                                </div>
                                <div *ngIf="registrationForm.get('password').touched">
                                  <span [class.hidden]="!registrationForm.controls['password'].hasError('required')" class="help-block hidden" >Password is required.</span>
                                </div>
                                <div class="form-group">
                                    <input type="password" formControlName="confirmPassword" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password">
                                </div>
                                <div *ngIf="registrationForm.get('confirmPassword').touched">
                                  <span [class.hidden]="!registrationForm.controls['confirmPassword'].hasError('invalidPassword')" class="help-block hidden" >Invalied Password.</span>
                                </div>
                                <div *ngIf="registrationForm.get('confirmPassword').touched">
                                  <span [class.hidden]="!registrationForm.controls['confirmPassword'].hasError('required')" class="help-block hidden" >Password is required.</span>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input (click)="register()" type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>