<!-- <div id="skipnav"><a href="#maincontent">Skip to main content</a></div> -->

<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom" [hidden]="(routerLink==='/dashboard') || (routerLink==='/form') || (routerLink==='/reports-list')">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
            <a class="navbar-brand" [routerLink]="['/']">EHealth Service</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a routerLink="/home">Home</a>
                </li>
                <li class="page-scroll">
                    <a href="#about">About</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">Instructional Guides</a>
                </li>
                <li class="page-scroll">
                    <a [routerLink]="['/form']">Dashboard</a>
                </li>
                <li *ngIf='!hasLoggedIn()' class="page-scroll">
                    <div class="dropdown">
                        <button class="dropbtn">Login</button>
                        <div class="dropdown-content">
                            <a (click)="getLoginUserType('emp')">Employee</a>
                            <a (click)="getLoginUserType('admin')">Admin</a>
                        </div>
                    </div>
                </li>
                <li class="page-scroll logout" *ngIf='hasLoggedIn()'>
                    <a (click)="logout()">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- <div style="height: 54px"></div> -->





<router-outlet></router-outlet>